/* Root variables */
:root {
    --BackgroundPrimary: #36454F;
    --BackgroundSecondary: #212121;
    --outlineDark: #000000;
    --MenuMain: #808080;
    --MenuHover: #36454F;
    --TextPrimary: #B2BEB5;
    --TextSecondary: #AAAAAA;
    --HeaderPrimary: 200%;
    --HeaderSecondary: 250%;
    --HeaderMargin: 2% 0;

}

::selection{
    background-color: #8ac4ff;
    color: var(--MenuHover)
}

/* setting font size so 1rem is 10px for easier calculation*/
html {
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif, comic;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--TextPrimary);
    background-color: var(--BackgroundPrimary);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
    font-weight:  700;
    line-height: 1.1
}

header {
    width: 96%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
}

h1 {
    font-size:  var(--HeaderPrimary);
    color: var(--TextPrimary);
}

h2 {
    margin: var(--HeaderMargin);
    font-size: var(--HeaderSecondary);
    color: var(--TextPrimary);
}

h3 {
    color: var(--TextSecondary);
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;

}

nav a {
    background-color: unset;
    color: var(--MenuMain);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: var(--MenuHover);
}

main {
    width: 96%;
    margin: 2rem auto;
  }
  
  footer {
    margin: 1.5rem;
    text-align: center;
  }

/* main flexbox grid */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

/*  class for adding justify-center */
.justify-center {
    justify-content: center;
}

.project-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

.project-card {
    display:  flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    color: var(--BackgroundSecondary);
    outline: 2px solid var(--outlineDark);
    outline-offset:-2px;
    transition: all 0.5s ease-in-out;
}

.project-card .project-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--outer-space);
    color: var(--heliotrope);
    border: 2px solid var(--gin);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.projectImage {
    max-width: 600px;
    width: 60%;
    max-height: 600px;
    height: 100%;
    outline: 2px solid var(--outlineDark); 
}

.avatar {
    max-width: 100px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    outline: 2px solid var(--outlineDark);
    
}

.borders {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--BackgroundSecondary);
    align-items: flex-start;
    padding: 10px;
}

/*.contact { 
    flex-direction: row;
    line-height: 1.3;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    color: var(--TextPrimary);
}
*/

/* Resolution settings for mobile screens  */

@media screen and (max-width: 992px) {
    header {
        width: 75%;
      }
  
    .card-column {
        flex: 0 0 33.333%;
        max-width: 33.333%;
      }
    }

  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }